1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* 
'hello'
-87.8
*  , - , / , + ,  *

**Ans** : 

**Operators:** * , - , / , + 

**Expression:** `hello` , `87.8` , `6`

2. What is the difference between string and variable?

**Ans:**

**variable** as an identifier to store a value in a memory location and to manipulate it if needed.

`x='a'`
`y=2` 

here `x` , `y` is variable

**String** is a type of information you would store in a Variable.  String is simply one of the handful of types that Python uses along with various number types, collection types (list, string , tuple, dict, and set), objects and a few more.

`x='a'`
`y=2`

here `'a'` , `2` is string

3. Describe three different data types.

**ans** 

`int` : it means whole numbers (integral values)
`a=10`

`float` :it  represent floating point values (decimal values)
`b=5.5`

`complex` : Complex data mean (real part)i + (imaginary part)j.
`i+j` `5i+10j`

In [1]:
# Int data type
a=10
type(a)

int

In [2]:
# Float data type
b=5.5
type(b)

float

In [3]:
# Complex data type
c=10 + 5.5j
type(c)

complex

4. What is an expression made up of? What do all expressions do?

**Ans :**

An expression is a construct made up of variables, operators, and method invocations, which are constructed according to the syntax of the language, that evaluates to a single value

In [4]:
# This is an example of an expression thats evaluates a single value 
4+56+7-4*45/45

63.0

5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Statements are roughly equivalent to sentences in natural languages. A statement forms a complete unit of execution while An expression is a construct made up of variables, operators, and method invocations, which are constructed according to the syntax of the language, that evaluates to a single value

In [5]:
# This is an example of an expression thats evaluates a single value 
4+56+7-4*45/45
print("hey")

hey

In [6]:
# this is an example of statement
Name = "Talha Rahman"

6.After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [7]:
bacon = 22
bacon + 1

23

7.What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

In [8]:
'spam'+'spamspam'

'spamspamspam'

In [9]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

**Ans:** Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

hence as per pyhton rule 100 cannot be variable

9.What three functions can be used to get the integer,floating-point number,or string version of a value?

**Ans:** `int()` , `float()` , `str()`

In [10]:
# Example
int(5.5)

5

In [11]:
float(5)

5.0

In [12]:
str(5)

'5'

10.Why does this expression cause an error? how can you fix it?

`'I have eaten ' + 99 + 'burritos.'`

**Ans** This statement will cause error beacause 99 is not string after converting 99 into string error will get fixed

In [13]:
'I have eaten ' + 99 + 'burritos.'

TypeError: ignored

In [14]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'