> 1. What are the two values of the boolean data types? how do you write them ?

**Ans**

In [1]:
# True and False are the two types of boolean
x=True
y=False
print(x,type(x))
print(y,type(y))

True <class 'bool'>
False <class 'bool'>

> 2. What are the three different types of Boolean operators?

**Ans** `or` , `and` , `not` are three types of boolean operator

In [2]:
x=1
y=6

In [3]:
# or boolean
print(x < 5 or y > 5 )

True

In [4]:
# and boolean
print(x < 5 and y > 5)

True

In [5]:
# not boolean
print(not(x>5))

True

> 3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate) ?

**Ans** 
The Truth tables for the boolean tables are as follows:

> Truth Table for and operaotor
* True and True is True
* True and False is False
* False and True is False
* False and False is False


> Truth Table for or operaotor
* True and True is True
* True and False is True
* False and True is True
* False and False is False

> Truth Table for not operaotor
* True not is False 
* False not is True

> 4. What are the values of the following expressions ?

* (5 > 4) and (3 == 5)
* not (5 > 4)
* (5 > 4) or (3 == 5)
* not ((5 > 4) or (3 == 5))
* (True and True) and (True == False)
* (not False) or (not True)

In [6]:
(5 > 4) and (3 == 5)

False

In [7]:
not (5 > 4)

False

In [8]:
(5 > 4) or (3 == 5)

True

In [9]:
not ((5 > 4) or (3 == 5))

False

In [10]:
(True and True) and (True == False)

False

In [11]:
(not False) or (not True)

True

> 5. What are the six comparison operators?

*Ans* : 
>
* != 
* <  
* <= 
* => , >
* ==

> 6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one ?

**Ans**

* == the equal to operator compares two values and give result in Boolean

* =  the assignment operator stores a value in a variable.

In [12]:
x = 10
x = y
print(x)
print(y)

6
6

In [14]:
x == y

True

> 7. Identify the three blocks in this code:

spam = 0

if spam == 10:

print('eggs')

if spam > 5:

print('bacon')

else:

print('ham')

print('spam')

print('spam')

In [17]:
spam = 0

if spam == 10:
  print('eggs')  # block 1

if spam > 5:
  print('bacon')  # block 2

else:
  print('ham')
  print('spam')
  print('spam') # block 3

ham
spam
spam

> 8. Write code that prints Hello 

if 1 is stored in spam, 

prints Howdy if 2 is stored in spam,

and 

prints Greetings! 

if anything else is stored in spam.

In [20]:
def Code(spam):
    if spam==1:
        print('Hello')
    elif spam==2:
        print('Howdy')
    else:
        print('Greetings')
        
Code(1) 
Code(2)
Code(3)

Hello
Howdy
Greetings

> 9. If your programme is stuck in an endless loop, what keys youâ€™ll press?

**Ans:** Press Ctrl-C to stop a program stuck in an endless loop

> 10. How can you tell the difference between break and continue?

**Ans:** 

The break statement will move the execution outside the loop if break condtion is satisfied.

Whereas the continue statement will move the execution to the start of the loop.

> 11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

**Ans:**

In [29]:
# printed range from 0 to 9 excluding 10 
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
# started the loop from 0 to 9 excluding 10
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
# started the loop from 0 to 9 and iterating variable by 1 
for i in range(0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9

> 12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop ?

In [34]:
# using for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [35]:
# Using while loop
i=1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

> 13. 
If you had a function named bacon() inside a module named spam, 
how would you call it after importing spam ?

Ans: This function can be called with spam.bacon()